@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070724;
}

h1 {
  font-family: "Antonio", sans-serif;
}

code {
  font-family: "Spartan", "Antonio", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
